@import "../../common.scss";

$base: 'page-index';
.#{$base} {
  position: relative;
  padding-top: 20vw;
  &__banner {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__desc {
    position: relative;
    z-index: 10;
    width: 80%;
    margin: 0 auto;
    padding: 80px 14vw;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.86);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25); /*px*/
    h1 {
      text-align: center;
      font-size: 32px;
    }
    p {
      font-size: 28px; /*px*/
    }
  }
  &__title {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin: 1em auto;
    padding: 0.5em;
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 80%;
      height: 1px; /*no*/
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: #eeeeee;
    }
  }
  &__product {
    width: 82.6%;
    margin: 0 auto;
    @include clearfix;
    @include max-width {
      width: 80%;
    }
  }
  &__item {
    img {
      width: 100%;
      display: block;
    }
    width: 30%;
    float: left;
    margin: 0 1.3vw 20px;
    @include max-width {
      margin: 0 0 20px;
      width: 100%;
    }
  }
  &__text {
    background: #eee;
    padding: 20px;
    h2 {
      margin: 0;
      padding-bottom: 1em;
      font-size: 28px; /*px*/
      font-weight: normal;
    }
    p {
      margin: 0;
    }
  }
}
